.home {
  background: url("../assets/images/recipe-home-background.jpg") left/cover
    no-repeat;
  min-height: 100vh;
  overflow: hidden;
  color: $MY_DARK_COLOR;
  .app-title {
    padding-top: 10rem;
  }
}
