#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #f2f1eb;
}

.custom-button {
  padding: 0.5rem;
  background-color: #88ab8e;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
}
