.navbar-container {
  .burger-icon-container {
    width: 100%;
    position: fixed;
    top: 0;
    height: 4rem;
    background-color: $PRIMARY_COLOR;
    @include FLEX_ROW_CENTER;
    z-index: 1001;
    h1 {
      color: $MY_DARK_COLOR;
    }
  }

  .burger-icon {
    display: block;
    position: fixed;
    top: 0.3rem;
    left: 0.5rem;
    z-index: 1001;
  }

  .bar {
    opacity: 1;
    width: 50px;
    height: 7px;
    border-radius: 6px;
    background-color: #333;
    margin: 10px 0;
    transition: 0.4s;
  }
  nav {
    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 5rem;
      padding-top: 2rem;
    }
    padding: 5rem 0 5rem 1rem;
    background-color: $PRIMARY_BACKGROUND_COLOR;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    height: 100%;
    overflow: auto;

    .router-link {
      color: $PRIMARY_COLOR;
      text-decoration: none;
      font-size: 1.5rem;
    }
    .app-name {
      display: none;
    }
  }

  nav.menu-open {
    transform: translateY(0);
  }
}
