.nutrition-analysis {
  padding-bottom: 4rem;
  h1 {
    padding-top: 4rem;
  }
  .nutrition-analysis-container {
    @include FLEX_COLUMN_CENTER;
    gap: 2rem;
    .search-block {
      form {
        @include FLEX_COLUMN_CENTER;
        gap: 1rem;
        textarea {
          border-radius: 1rem;
          padding: 1rem;
          width: 80%;
        }
      }
    }
    .results {
      @include FLEX_COLUMN_CENTER;
      table {
        border: solid 1px $PRIMARY_COLOR;
        thead {
          background-color: $SECONDARY_COLOR;
        }
        tbody {
          td {
            background-color: $MY_LIGHT_COLOR;
          }
        }
      }
    }

    .information {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      background-color: $MY_LIGHT_COLOR;
      width: 80%;
      border-radius: 1rem;
      box-shadow: -25px 0 20px -20px rgba(0, 0, 0, 0.45);
      .information-header {
        display: flex;
        justify-content: center;
        gap: 3rem;
      }
      .values {
        padding: 0 1rem;
        display: flex;
        justify-content: space-between;
        gap: 2rem;
      }
      p {
        font-size: 0.7rem;
      }
    }
  }
}
