@media screen and (min-width: $SMALL_SCREEN) {
  /* navbar */
  .navbar-container {
    nav {
      div {
        gap: 1rem;
        padding-top: 1rem;
      }
    }
  }
  /*Nutrition route*/
  .nutrition-analysis {
    .nutrition-analysis-container {
      .information {
        width: 50%;
      }
    }
  }
  /*search recipe route*/
  .search-recipe-container {
    .search-recipe-block {
      form {
        gap: 1rem;
        .keywords {
          padding: 0;
          .input-button-container {
            width: 80%;
          }
        }
      }
    }
    .recipes {
      .cards-container {
        .recipe-card {
          h2 {
            text-align: left;
            padding-left: 0.5rem;
          }
          .recipe-card-body {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            gap: 0.5rem;
            img {
              width: 30%;
              object-fit: cover;
              border-radius: 0;
            }
            .health-labels {
              width: 60%;
              h2 {
                margin-top: 0;
              }
              .health-labels-body {
                padding: 0 0.5rem;
              }
            }
          }
          .recipe-hidden-body {
            display: flex;
            justify-content: space-around;
            .card-ingredients {
              width: 45%;
              div {
                border-right: solid 1px $PRIMARY_COLOR;
              }
            }
            .card-nutrients {
              width: 45%;
            }
          }
        }
      }
    }
  }
  .modal {
    .modal-content {
      width: 60%;
      margin: 0 auto;
      margin-bottom: 2rem;
      button {
        margin-bottom: 2rem;
      }
    }
  }
  /*food database route*/
  .food-database-container {
    form {
      width: 80%;
      margin: 0 auto;
      flex-direction: row;
    }
    .food-results {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-around;
      .food-card {
        width: 40%;
        .food-card-body {
          flex-direction: row;
        }
      }
    }
  }
  /*food details route*/
  .food-details-container {
    .details-results {
      .details-card {
        width: 50%;
        margin-bottom: 3rem;
        padding: 2rem;
        .details-card-body {
          flex-direction: row;
          align-items: flex-end;
          .details-img-container {
            img {
              display: block;
              width: 200px;
              margin: 0;
              border-radius: 0;
            }
          }
          .details-card-information {
            height: 200px;
            div {
              padding: 0.5rem;
              justify-content: flex-start;
              gap: 1rem;
            }
            .brand {
              border-radius: 0;
            }
          }
        }
      }
    }
  }
  /*About*/
  .about {
    @include FLEX_COLUMN_CENTER;
    background: url("../assets/images/about-background.jpg") center / cover
      no-repeat;
    max-height: 50vh;
    width: 100%;
    h1 {
      background-color: transparent;
      box-shadow: none;
    }
    h2 {
      width: 80%;
    }
    .about-body {
      .overview {
        background-color: $SECONDARY_COLOR;
        margin-left: auto;
        margin-top: 10rem;
        width: 80%;
        text-align: left;
        padding: 0.5rem 1rem;
        div {
          .overview-p {
            background: none;
            padding: 0;
          }
        }
      }
      .tech-stack {
        padding: 1rem;
        background-color: white;
        margin: 2rem 0;
        padding: 1rem;
        text-align: left;
        div {
          .vue-p,
          .scss-p {
            background: none;
            padding: 0;
          }
        }
      }
      .APIs {
        div {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          .first-api,
          .second-api,
          .third-api {
            width: 60%;
            background: none;
            background-color: $SECONDARY_COLOR;
            padding: 1rem;
            text-align: left;
          }
        }
      }
      .purpose {
        text-align: left;
        width: 80%;
        background-color: $SECONDARY_BACKGROUND_COLOR;
        padding: 0.5rem 1rem;
        div {
          p {
            background: none;
            padding: 0;
          }
        }
      }
      .join-me {
        margin: 1rem auto;
      }
    }
  }
}

@media screen and (min-width: $MEDIUM_SCREEN) {
  /*navbar*/
  .navbar-container {
    .burger-icon-container {
      display: none;
    }
    .bar {
      display: none;
    }
    nav {
      transform: translateY(0);
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: fit-content;
      padding: 0.5rem 1rem;
      background: rgb(81, 161, 83);
      background: linear-gradient(
        90deg,
        rgba(81, 161, 83, 1) 0%,
        rgba(196, 230, 192, 1) 100%
      );
      div {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        gap: 1rem;
      }
      .router-link {
        font-size: 1rem;
        text-decoration: underline;
        color: $MY_DARK_COLOR;
      }
      .app-name {
        display: block;
        font-size: 1.4rem;
        text-decoration: none;
      }
    }
    nav a.router-link-exact-active {
      color: $EFFECT_COLOR;
    }
  }
  /*nutrition route*/
  .nutrition-analysis {
    .nutrition-analysis-container {
      flex-direction: row;
      align-items: flex-start;
      .information {
        margin-right: 1rem;
      }
    }
  }
  /*search recipe route*/
  .search-recipe-container {
    .search-recipe-block {
      form {
        .keywords {
          flex-direction: column;
          .keywords-label {
            padding: 0 5rem;
            display: block;
            padding-bottom: 1rem;
          }
        }
      }
    }
  }
  .food-database-container {
    .food-results {
      .food-card {
        cursor: pointer;
      }
    }
  }
  /*About*/
  .about {
    max-height: 30vh;
  }
}

@media screen and (min-width: $LARGE_SCREEN) {
  /*navbar*/
  .navbar-container {
    nav {
      .router-container {
        gap: 3rem;
      }
    }
  }
  /*nutrition route*/
  .nutrition-analysis {
    .nutrition-analysis-container {
      justify-content: space-around;
      .information {
        width: 30%;
      }
    }
  }
  /*search recipe route*/
  .search-recipe-container {
    .search-recipe-block {
      width: 60%;
      margin: 0 auto;
    }
    .recipes {
      .cards-container {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
        .recipe-card {
          width: 40%;
          @include FLEX_COLUMN_CENTER;
          h3 {
            min-height: 3rem;
          }
          .recipe-card-body {
            @include FLEX_COLUMN_CENTER;
            img {
              width: 80%;
              border-radius: 1rem;
            }
            .health-labels {
              width: 80%;
              height: 200px;
              overflow: auto;
              font-size: 1rem;
            }
          }
          .recipe-hidden-body {
            flex-direction: column;
            width: 80%;
            .card-ingredients {
              width: 100%;
              div {
                border: none;
              }
            }
            .card-nutrients {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .modal {
    .modal-content {
      width: 40%;
    }
  }
  /*About*/
  .about {
    max-height: 20vh;
  }
}

@media screen and (min-width: $EXTRA_LARGE_SCREEN) {
  /*nutrition route*/
  .nutrition-analysis {
    .nutrition-analysis-container {
      .information {
        max-width: 20rem;
      }
    }
  }
  /*search recipe route*/
  .search-recipe-container {
    .recipes {
      .cards-container {
        .recipe-card {
          width: 30%;
        }
      }
    }
  }
  /*food database route*/
  .food-database-container {
    .food-results {
      .food-card {
        width: 20%;
      }
    }
  }
  /*About*/
  .about {
    .about-body {
      .overview {
        margin-top: 7rem;
      }
    }
  }
}
