@media (min-width: 391px) {
  .nutrition-analysis {
    .nutrition-analysis-container {
      .information {
        width: 50%;
      }
    }
  }
  .search-recipe-container {
    .search-recipe-block {
      form {
        gap: 1rem;
        .keywords {
          padding: 0;
          .input-button {
            width: 80%;
          }
        }
      }
    }
    .modal {
      button {
        margin-bottom: 2rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .navbar-container {
    .burger-icon-container {
      display: none;
    }
    .bar {
      display: none;
    }
    nav {
      transform: translateY(0);
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: fit-content;
      padding: 1rem;
      background-color: #88ab8e;
      div {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        gap: 1rem;
      }
      .router-link {
        font-size: 1rem;
        text-decoration: underline;
        color: black;
      }
      .app-name {
        display: block;
        font-weight: bolder;
        font-size: 1.4rem;
        text-decoration: none;
      }
    }
    nav a.router-link-exact-active {
      color: #eee7da;
    }
  }
  .nutrition-analysis {
    .nutrition-analysis-container {
      flex-direction: row;
      align-items: flex-start;
    }
  }
  .search-recipe-container {
    padding-bottom: 0;
    .search-recipe-block {
      form {
        .keywords {
          flex-direction: column;
          .keywords-label {
            padding: 0 5rem;
            display: block;
            padding-bottom: 1rem;
          }
        }
      }
    }
    .recipes {
      .card {
        h2 {
          text-align: left;
          padding-left: 0.5rem;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .navbar-container {
    nav {
      .router-container {
        gap: 3rem;
      }
    }
  }
  .nutrition-analysis {
    .nutrition-analysis-container {
      justify-content: space-around;
      .information {
        width: 30%;
      }
    }
  }
}
