.search-recipe-container {
  padding-top: 4rem;
  padding-bottom: 4rem;
  .search-recipe-block {
    form {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 2rem;
      .keywords {
        padding: 1rem 0;
        @include FLEX_ROW_CENTER;
        .keywords-label {
          display: none;
        }
        .input-button-container {
          display: flex;
          width: 90%;
          input {
            width: 100%;
            padding: 0.5rem;
            border-radius: 0.5rem 0 0 0.5rem;
            border: solid 3px $PRIMARY_COLOR;
            border-right: none;
          }
          input:focus {
            outline: none;
          }
          .search-icon {
            background-color: $PRIMARY_COLOR;
            border-radius: 0 0.5rem 0.5rem 0;
            border: none;
            width: 2.3rem;
            height: 2.3rem;
            @include FLEX_ROW_CENTER;
            font-size: 1.5rem;
            color: $MY_LIGHT_COLOR;
            cursor: pointer;
          }
        }
      }
      .custom-button {
        align-self: center;
      }
      .filter-buttons-container {
        width: 80%;
        align-self: center;
        display: flex;
        justify-content: space-between;
        .filter-button {
          padding: 0.3rem;
          font-size: 1rem;
          cursor: pointer;
        }
        .filter-button,
        input {
          border-radius: 0.5rem;
          border: solid 3px $PRIMARY_COLOR;
          background-color: $MY_LIGHT_COLOR;
          color: $MY_DARK_COLOR;
          width: 5rem;
        }
      }
    }
    .selected-filters {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      ul {
        margin: 0;
        padding: 0.5rem;
        li {
          padding: 0.5rem;
          background-color: $SECONDARY_COLOR;
          border-radius: 0.5rem;
          list-style: none;
        }
      }
    }
    h3 {
      text-align: left;
    }
  }
  .filters-modal {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.5rem;
    .check-box {
      width: fit-content;
      padding: 0.2rem;
      border-radius: 1rem;
      background-color: $SECONDARY_COLOR;
      display: flex;
      align-items: center;
      input {
        appearance: none;
        -webkit-appearance: none;
        outline: none;
        border: none;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        background-color: $MY_LIGHT_COLOR;
        cursor: pointer;
        position: relative;
      }
      input:checked::before {
        content: "✔";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: blue;
      }
    }
  }
}
