$SMALL_SCREEN: 576px;
$MEDIUM_SCREEN: 750px;
$LARGE_SCREEN: 992px;
$EXTRA_LARGE_SCREEN: 1200px;

$PRIMARY_COLOR: #51a153;
$SECONDARY_COLOR: #c4e6c0;
$EFFECT_COLOR: #8d3f27;
$PRIMARY_BACKGROUND_COLOR: #f2f1eb;
$SECONDARY_BACKGROUND_COLOR: #fce8d2;

$MY_LIGHT_COLOR: white;
$MY_DARK_COLOR: black;

@mixin FLEX_COLUMN_CENTER {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin FLEX_ROW_CENTER {
  display: flex;
  justify-content: center;
  align-items: center;
}
